@import "../../../assets/scss/variables.scss";

.surveys {
    &__title {
        margin: 0 0 2rem;

        h3 {
            color: $text;
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0;

            @media #{$xs} {
                font-size: 2rem;
            }
        }
    }

    &__row {
        .dashboard__grid {
            grid-template-columns: repeat(3, 1fr);

            @media #{$xs} {
                grid-template-columns: repeat(2, 1fr);
            }

            @media #{$md} {
                grid-template-columns: repeat(2, 1fr);
            }
        }

    }

    &__list {
        margin: 3rem 0 0;
    }

    &__list-row {
        margin: 2rem 0 0;
    }

    &__claim {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 0 0 0.8rem;

        button {
            height: 3.8rem;
            min-width: 8rem;
        }

        h3 {
            margin: 0;
        }
    }

    &__arrow-btn {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        button {
            all: unset !important;
            cursor: pointer !important;

            img {
                max-width: 3rem;
            }
        }
    }
}

.claim {
    padding: 2rem;

    &__img {
        text-align: center;
        margin: 0 0 1rem;

        h4 {
            font-size: 1.8rem;
            font-weight: 600;
            margin: 1rem 0 0;
            color: $text;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 1rem;

        p {
            color: #4F4F4F;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0;
        }

        h4 {
            color: #4F4F4F;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0;

            span {
                color: $text;
                font-weight: 600;
            }

        }
    }

    &__para {
        p {
            color: #989CA5;
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
            list-style-type: circle;
        }

        h4 {
            text-align: center;
            margin: 0;
            font-size: 2.2rem;
            font-weight: 500;
            color: $text;
        }
    }

    &__reward-btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 3rem 0;

        button {
            width: 100%;
        }
    }
}