.alert-error {
  color: rgb(236, 65, 65) !important;
  background-color: #ebebee !important;
}

.alert-warning {
  color: rgb(240, 172, 44) !important;
  background-color: #fff !important;
}

.alert-info {
  color: #055160 !important;
  background-color: #fff !important;
}

.alert-success {
  color: rgba(24, 199, 24, 0.876) !important;
  background-color: #fff !important;
}

.alert {
  border: 0.1rem solid transparent !important;
  border-radius: 1rem !important;
  position: fixed !important;
  float: right !important;
  right: 0 !important;
  background: #fff !important;
  width: 36rem !important;
  margin: 1rem !important;
  padding: 2rem !important;
  top: 0 !important;
  z-index: 99999 !important;
  font-size: 1.6rem !important;
  box-shadow: 0 0.3rem 0.6rem -0.4rem #0000001f, 0 0.6rem 1.6rem #00000014,
    0 0.9rem 2.8rem 0.8rem #0000000d;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;

  .anticon-close-circle {
    float: right !important;
    cursor: pointer !important;
    font-size: 2rem !important;
    color: var(--black-color);
  }

  img {
    float: right;
  }
}

.message-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.4rem;
  gap: 1.5rem;
}
